@font-face {
    src: url("../font/space-age.ttf");
    font-family: space-age;
}

body {
    background-image: url("../img/spaceman.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    text-align: center;
    /* font-family: 'Barlow', sans-serif; */
    font-family: space-age;
    font-weight: 400;
}
.btn {
    padding: 6px 12px;
    background: white;
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
    font-family: inherit;
}

.underline {
    border-bottom: solid 3px white;
}