@font-face {
    src: url("../font/space-age.ttf");
    font-family: space-age;
}

body {
    margin: 0;
    color: white;
    text-align: center;
    /* font-family: 'Barlow', sans-serif; */
    font-family: space-age;
}

.intro {
    background-image: url("https://media.giphy.com/media/WQNiSTYU9IlaErv55B/giphy-downsized-large.gif");
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 5px;
}

.btn {
    padding: 6px 12px;
    background: rgb(180, 139, 95);
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 2px;
}

.underline {
    border-bottom: solid 3px white;
}

.title {
    margin-top: 0;
}

.subtitle {
    color: rgb(40, 40, 40);
    margin-top: 0;
}